<div class="control" >
  <button nz-button nzType="default" (click)="onSave()">Save</button>
  <button nz-button nzType="default" (click)="onLoad()">Load</button>
  <button nz-button nzType="default" (click)="onUndo()">Undo</button>
  <button nz-button nzType="default" (click)="onRedo()">Redo</button>
  <button nz-button nzType="default" (click)="onExport()">Export</button>
  <button nz-button nzType="default" (click)="onPrint()">Print</button>
</div>

<div class="layout" #screen>
  <ejs-symbolpalette
  width="15%"
  [palettes]="symbolPalette"
  [getNodeDefaults]="getSymbolDefaults"
  [symbolHeight]="100"
  [symbolWidth]="100"
  >
  </ejs-symbolpalette>
  
  <ejs-diagram
    #diagram
    [scrollSettings]="scrollSettings"
    [contextMenuSettings]="contextMenu"
    (contextMenuOpen)="contextMenuOpen($event)"
    (contextMenuClick)="contextMenuClick($event)"
    (click)="log($event)"
    [nodes] = "nodes"
  >
    <ng-template #nodeTemplate let-data >
      <ng-container *ngIf="data.data.id == 'test'">
        <nz-card style="width:100%;height: 100%;" nzTitle="Card title" [nzExtra]="extraTemplate">
          <p>Nhân viên : {{data.data.name}}</p>
          <p>Công việc : {{data.data.tittle}}</p>
          <p>Trạng thái : {{data.data.status}}</p>
          <button nz-button (click)="showModal(data)" style="margin-right: 8px;"><span>Edit</span></button>
          <button nz-button (click)="showEdit(data)"><span>Create</span></button>
        </nz-card>
        <ng-template #extraTemplate>
          <a>More</a>
        </ng-template>
      </ng-container>
    </ng-template>
  </ejs-diagram>

  <nz-modal [(nzVisible)]="isVisible" nzTitle="The first Modal" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <ng-container *nzModalContent >
      <p>
        Nhân viên
        <input nz-input [(ngModel)]="modalData.data.name">
      </p>
      <p>
        Công việc
        <input nz-input [(ngModel)]="modalData.data.tittle">
      </p>
      <p>
        Trạng thái
        <input nz-input [(ngModel)]="modalData.data.status">
      </p>
    </ng-container>
  </nz-modal>

  <nz-modal [(nzVisible)]="isOpen" nzTitle="The first Modal" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <ng-container *nzModalContent >

      <div>
        <app-template-rendering *ngFor="let item of renderingOptions" [data]="item">{{item.id}}</app-template-rendering>
      </div>

      <button style="margin-top: 15px;"
        nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu"
        nz-button nzType="dashed" [nzSize]="'default'" nzShape="circle">
        <span nz-icon nzType="plus"></span>
      </button>

      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu nzSelectable>
          <li 
            *ngFor="let item of dropDownOptions" 
            nz-menu-item (click)="render(item)"
          >
            {{item.label}}
          </li>
        </ul>
      </nz-dropdown-menu>

    </ng-container>
  </nz-modal>

</div>
